/* google fonts import link  */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;0,500;0,600;1,100;1,500;1,600&family=Assistant:wght@300;400;500;600&display=swap");
* {
  margin: 0.5rem;
  padding: 0;

}


body {
  color: #fff;
  background-color: #1d193a;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

img {
  height: 50px;
}

#jumbotron {
}

p,
h6 {
  font-family: "Assistant", sans-serif;
}

/* Home */
#container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 100px 0;
}

#handwaving {
  height: 350px;
  display: block;
  margin: 0 auto;
}

#large {
  font-size: 50px;
  font-family: "Archivo", sans-serif;
}

#subhead {
  font-size: 30px;
  font-family: "Archivo", sans-serif;
  color: #bc7fbf;
}

/* Home content */

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 100px 0;
}

.homecontentheaders {
  background-color: #433e6e;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  max-width: 400px;
  text-align: center;
}

h3 {
  font-size: 22px;
}

#books {
  background-color: #433e6e;
  border-radius: 12px;
  position: relative;
  height: fit-content;
  max-width: 400px;
  padding: 10 10;
}

#booksimg {
  height: 150px;
}

#news {
  background-color: #433e6e;
  border-radius: 12px;
  position: relative;
  height: fit-content;
  max-width: 400px;
  padding: 10 10;
}

#newsimg {
  height: 150px;
}

#podcasts {
  background-color: #433e6e;
  border-radius: 12px;
  position: relative;
  height: fit-content;
  max-width: 400px;
  padding: 10 10;
}

#podcastsimg {
  height: 150px;
}
/* End Home */

/* Start Questions Form */

#questions {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  align-items: center;
}

#questions label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#questions h5 {
  font-family: "Archivo", sans-serif;
}

#questions input,
#questions textarea {
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* End questions form */

/*Start Provider form*/

#provider {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  align-items: center;
}

#provider label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#provider h5 {
  font-family: "Archivo", sans-serif;
}

#provider input,
#provider textarea {
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* End provider form */



/*Start Contact form */
#contact {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  align-items: center;
}

#contact label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact h5 {
  font-family: "Archivo", sans-serif;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/*End contact form */

/*Start Community */
#container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.illustrations {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
#createpost {
  height: 30px;
}

#image7 {
  height: 350px;
  padding-right: 10px;
}

#image8 {
  height: 350px;
  padding-right: 10px;
}

#image9 {
  height: 350px;
  padding-right: 10px;
}

#image10 {
  height: 350px;
}

.post-container {
  display: flex;
  align-items: center;
}

.post-container img {
  margin-right: 10px;
}

.text-box {
  position: relative;
  padding: 10px;
  background-color: #433e6e;
  border-radius: 12px;
  width: auto;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.text-container {

}

.userAvatar {
  height: 150px;
}

.text-item {
  flex: 1;
}

.see-more,
a {
  text-decoration: none;
  transition: font-style 0.3s;
  color: #bc7fbf;
  font-family: "Archivo-medium", sans-serif;
}

.see-more:hover {
  font-style: italic;
  color: #e4b3e7;
  font-family: "Archivo";
  font-style: italic;
  font-weight: 500;
}

#userName {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #bc7fbf;
}

#date {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #87ceeb;
}

#title {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

#userContent {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.icon-row {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.icon-row img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* end community */

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  justify-content: space-evenly;
}

input[type="text"] {
  color: #fff;
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input,
textarea {
  background-color: #433e6e;
  border-radius: 12px;
  color: #fff;
  border-style: none;
}

#button {
  position: relative;
  background: #bc7fbf;
  border-style: none;
  border-radius: 12px;
  width: 100px;
  height: 25px;
  left: 12px;
  top: 12px;
  color: #fff;
}

#button:hover {
  background-color: #e4b3e7;
  color: #bc7fbf;
}

footer {
  bottom: 0;
  width: 100%;
  height: 100px;
}

footer,
p {
  padding-bottom: 50px;
  font-size: 16px;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav > .fa-bars {
    display: block;
  }
}

@media (min-width: 364px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }
}
