/* google fonts import link  */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;0,500;0,600;1,100;1,500;1,600&family=Assistant:wght@300;400;500;600&display=swap');
* {
  margin: 0.5rem;
  padding: 0;
  /* background-color: #1D193A; */

}

body {
  color: #fff;
  background-repeat: no-repeat;
  background-color: #1D193A;
  font-family: ;

}

img {
  height: 50px;
}

#jumbotron {


}


#large {
  font-size: 38px;
  display: block;
  font-family: 'Archivo wgt:600', sans-serif;
  padding: 0 80px;
}

#subhead {
  font-size: 20px;
  display: block;
  font-family:'Archivo wgt:400', sans-serif;
  color: #BC7FBF;
  padding: 0 80px;

}

#sidenav a {
  color: #87CEEB;
}

/*
nav {
  display: flex;
  align-items:last baseline;
  flex-direction: column;
  padding: 0 60px;
  color:#BC7FBF;
  text-decoration: none;
  list-style-type: none;
} */

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  justify-content: space-evenly;
}

#searchbar{
  position: absolute;
  height: 38px;
  margin-left: 15%;
  padding:15px;
  color: #fff;
  border-radius: 12px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=text] {
  color: #fff;
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* form customization */
input, textarea {
  background-color: #433E6E;
}

#button {
position: relative;
background: #BC7FBF;
border-style: none;
border-radius: 12px;
width: 150px;
height: 35px;
left: 12px;
top: 12px;

}
button:hover > a:hover > a:link {
  animation: 0.8ms;
  background: #E4B3E7;
  color: #fff;
  font-family: 'Archivo';
  font-style: italic;
}


nav > .fa-bars {
  display: none;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
    text-decoration: none;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }}

