* {
  margin: 0.5rem;
  padding: 0;
  background-color: #1D193A;
}
body {
  color: #fff;
  font-family: ;
}

img {
  height: 50px;
}

.searchbar {
  position: absolute;
}

#large {
  font-size: 38px;
  display: block;
  font-family: 'Archivo wgt:600', sans-serif;
  padding: 0 80px;
}
#subhead {
  font-size: 20px;
  display: block;
  font-family:'Archivo wgt:400', sans-serif;
  color: #BC7FBF;
  padding: 0 80px;

}

#sidenav a {
  color: #87CEEB;
}


nav {
  color: #BC7FBF;
  display: flex;
  align-items:last baseline;
  flex-direction: column;
  padding: 0 60px;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  justify-content: space-evenly;
}


/* form customization */
input, textarea {
  background-color: #433E6E;
}

.button {
  background-color: #BC7FBF;
}

nav > .fa-bars {
  display: none;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }}

